<%= title l(:"ie.label_income_expenses") %>

<% IeIncomeExpense.get_subclasses.each do |klass| %>
	<h3> <%= l(klass::OptionName) %> </h3>
	<% income_expenses = klass.all %>
	<% if income_expenses.any? %>
		<div class="autoscroll">
			<table class="list">
				<thead>
					<tr>
						<th><%=l(:"ie.label_tracker")%></th>
						<%if IE::Integration.currency_plugin_enabled? %>
							<th><%=l(:"ie.label_local_amount")%></th>
						<% end %>
						<th><%=l(:"ie.label_amount")%></th>
						<th><%=l(:"ie.label_start_date")%></th>
						<th><%=l(:"ie.label_planned_end_date")%></th>
						<th><%=l(:"ie.label_end_date")%></th>
						<th></th>
					</tr>
				</thead>

				<tbody>
					<% income_expenses.each do |income_expense| %>
					<tr class="<%= cycle('odd', 'even') %>">
						<td class='name'><%= Tracker.find(income_expense.tracker_id).name %></td>
						<%if IE::Integration.currency_plugin_enabled? %>
							<td><%= income_expense.local_amount_field_id.present? ? CustomField.find(income_expense.local_amount_field_id).name : "-" %></td>
						<% end %>
						<td><%= CustomField.find(income_expense.amount_field_id).name %></td>
						<td><%= income_expense_start_date_field(income_expense) %></td>
						<td><%= income_expense_planned_end_date_field(income_expense) %></td>
						<td><%= income_expense_end_date_field(income_expense) %></td>
						<td class="buttons">
							<%= link_to '<span class="icon icon-edit">'.html_safe+l(:button_edit)+'</span>'.html_safe, edit_ie_income_expense_path(income_expense, :type => klass.name) %> 
							<%= delete_link ie_income_expense_path(income_expense) %>
						</td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	<% reset_cycle %>
	<% end %>
	<p><%= link_to l(:"ie.label_income_expenses_new"), new_ie_income_expense_path(:type => klass.name) %></p>

<% end %>